@model FitBody.Entities.Concrete.ShippingDetails

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="container">
    <form asp-controller="Cart" asp-action="Complete" method="post">
        <div class="form-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" placeholder="Name" />
            <span asp-validation-for="Name"></span>
        </div>
        <div class="form-group">
            <label asp-for="District"></label>
            <input asp-for="District" class="form-control" placeholder="District" />
            <span asp-validation-for="District"></span>
        </div>
        <div class="form-group">
            <label asp-for="Neighborhood"></label>
            <input asp-for="Neighborhood" class="form-control" placeholder="Neighborhood" />
            <span asp-validation-for="Neighborhood"></span>
        </div>
        <div class="form-group">
            <label asp-for="Province"></label>
            <input asp-for="Province" class="form-control" placeholder="Province" />
            <span asp-validation-for="Province"></span>
        </div>
        <input class="btn-success" type="submit" value="complete" />
    </form>
</div>
