@model FitBody.WebUI.Model.EditViewModel.ExerciseEditVİewModel

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Text Editors
        <small>Advanced form element</small>
    </h1>

</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header">
                    <h3 class="box-title">
                        CK Editor
                        <small>Advanced and full of features</small>
                    </h3>
                    <!-- tools box -->
                    <div class="pull-right box-tools">
                        <button type="button" class="btn btn-info btn-sm" data-widget="collapse" data-toggle="tooltip"
                                title="Collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-info btn-sm" data-widget="remove" data-toggle="tooltip"
                                title="Remove">
                            <i class="fa fa-times"></i>
                        </button>
                    </div>
                    <!-- /. tools -->
                </div>
                <!-- /.box-header -->
                <div class="box-body pad">
                    <form asp-action="ExerciseEdit" asp-controller="Admin" method="post">
                        <div class="form-group">
                            <textarea id="editor1" asp-for="Exercise.Description" rows="10" cols="80">
                                            This is my textarea to be replaced with CKEditor.
                    </textarea>
                        </div>

                        <div class="form-group">
                            <label asp-for="Exercise.Image">Image Url</label>
                            <input asp-for="Exercise.Image" class="form-control" placeholder="Image Url" />
                            <span asp-validation-for="Exercise.Image"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Exercise.ExerciseName">Title</label>
                            <input asp-for="Exercise.ExerciseName" class="form-control" placeholder="Title" />
                            <span asp-validation-for="Exercise.ExerciseName"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Exercise.Summary">Summary</label>
                            <input asp-for="Exercise.Summary" class="form-control" placeholder="Summary" />
                            <span asp-validation-for="Exercise.Summary"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Exercise.ExerciseTypeID">Exercise Type</label>
                            <select asp-for="Exercise.ExerciseTypeID" class="form-control" asp-items="@{new  SelectList(Model.ExerciseTypes,"ID","ExerciseTypeName")}"></select>
                            <span asp-validation-for="Exercise.ExerciseTypeID"></span>
                        </div>
                        <input type="hidden" asp-for="Exercise.ID" />
                        <input type="submit" class="btn btn-success" value="Update" />
                    </form>
                </div>
            </div>
            <!-- /.box -->


        </div>
        <!-- /.col-->
    </div>
    <!-- ./row -->
</section>
<!-- /.content -->
<!-- Left side column. contains the logo and sidebar -->
<!-- Content Wrapper. Contains page content -->
<!-- /.content-wrapper -->
<!-- Control Sidebar -->
<!-- /.control-sidebar -->
<!-- Add the sidebar's background. This div must be placed
immediately after the control sidebar -->
<!-- ./wrapper -->
<!-- jQuery 3 -->
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<!-- FastClick -->
<script src="/bower_components/fastclick/lib/fastclick.js"></script>
<!-- AdminLTE App -->
<!-- AdminLTE for demo purposes -->
<!-- CK Editor -->
<script src="/bower_components/ckeditor/ckeditor.js"></script>
<!-- Bootstrap WYSIHTML5 -->
<script>
    $(function () {
        // Replace the <textarea id="editor1"> with a CKEditor
        // instance, using default configuration.
        CKEDITOR.replace('editor1')
        //bootstrap WYSIHTML5 - text editor
        $('.textarea').wysihtml5()
    })
</script>
