@model FitBody.WebUI.Model.ExerciseViewModel

@{
    ViewBag.Title = "title";
    Layout = "~/Views/_Layout.cshtml";
}

<div class="container">
    <news-details-pager current-details="@Model.Exercise.Description"></news-details-pager>

</div>
